@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_mixins";
@import "_variables";
@import "_animations";
@import "/components/loader";

[v-cloak] { display:none; }

.navbar + .container-fluid {
	padding-top: 60px
} 

a {
	color: black
}

ul {
	padding-left: 0px;
	li {
		list-style-type: none;
	}
}

.page-header {
	margin: 30px 0 20px;
	border-bottom: 4px solid #eeeeee;
	color: #23527c;
	font-size: 24px;
}

.sidebar {
	.nav-sidebar {
		li {
			> a {
				color: #23527c;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}
}